<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my media library</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/ab8a937c69.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</head>
<body>
    <h1>my media library</h1>
    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem"><a href="/">home</a></li>
            <li class="navitem"><a href="/movies">movies</a></li>
            <li class="navitem"><a href="/tv_shows">tv shows</a></li>
        </ul>
    </nav>
    
    {{{body}}}
    
</body>
</html>